{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Page</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>

    <h1>The Data are Here</h1>

    {% for content in contents %}
    <h2>{{ content.heading }}</h2>
    <h3>{{ content.title }}</h3>
    <p>{{ content.paragraph }}</p>
    <img src="{% static content.image %}" alt="Cake image" style="max-width: 50%; height: auto;">
    <a href="{{ content.button_link }}">
        <button type="button">{{ content.button_text }}</button>
    </a>
    <hr>
    {% endfor %}

</body>

</html>